
@import "rhythmless/rhythm";

body {
    font-family: 'Signika Negative', sans-serif;
    #rhythmless > .vertical-rule(#ddf);
    margin: 0;
    padding: 0;
}

header {
    h2 {
        #rhythmless > .rhythm(20px);
    }
}

h1 {
    #rhythmless > .rhythm(40px);
}

h2 {
    #rhythmless > .rhythm(20px, 10px);
}

p {
    #rhythmless > .rhythm(14px, 10px);
}


div.code {
    #rhythmless > .container(5px, 1px);
    background-color: rgba(255, 255, 0, 0.2);
    border-style: solid;
    border-color: #cc9;
    padding-left: 5px;
    padding-right: 5px;
    pre {
        #rhythmless > .rhythm(12px, 10px);
    }
}

ul {
    #rhythmless > .rhythm(14px, 5px);
}

li {
    #rhythmless > .rhythm();
}

div.content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    #rhythmless > .rhythm(14px, 10px);
}

a {
    color: red;
    text-decoration: none;
}

a:visited {
    color: darkred;
}

a:hover {
    color: #555;
}

